input[type=text] {
  width: 100%;
  padding: 12px 20px;
  box-sizing: border-box;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-top: none;
  border-left: none;
  border-right: none;
  font-size: 16pt;
  border-bottom-color: $project-primary;
}

#query-button {
  @include outline-button($project-primary);

  font-size: 16pt;
  background: none;
}