$eclipse-map-land: #302f2e;
$eclipse-map-background: #191a1a;
$eclipse-map-gold: #5f4c32;

div.background-map{
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: $eclipse-map-background;
}

div.app-body{
  position: absolute;
  top: 80px;
  left: 50px;

  padding-bottom: 50px;
  padding-top: 50px !important;

  color: $project-text-dark;

  background-color: rgba($eclipse-map-background, 0.7);


  input[type=text]{
    background-color: rgba($eclipse-map-land, 0.01);
    color: $project-text-dark;
  }

  button {
    float: right;
  }

  h1 {
    font-size: 3rem;
    max-width: 600px;


    &:after{
      display: table;
      width:70px;
      padding-top: 10px;
      border-bottom: 6px solid $project-primary;
      content: "";
    }
  }

  @media screen and (max-width: $medium-screen-width){
    padding-top: 30px !important;
    top: 50px;
    left: 0px;
    height: 100%;
    width: 100%;
    h1{
      font-size: 2.5rem;
    }

  }

  div.app-card{
    @include clearfix;


    h2.author{
      margin-top: 1rem;
      font-size: 1.2rem;
      color: darken($project-text-dark, 30%);
    }

    p{
      margin-top: 1rem;
      max-width: 600px;
      font-size: 1.1rem;
      line-height: 1.3rem;
    }
  }
}

div.text{
  position: absolute;
  background-color: $project-background-light;
  top: 1400px;
}

div.app-card{

  @keyframes shrinkHideCard {
    from {
        max-height: 1600px;
        opacity: 1;
    }
    0% {
      max-height: 1600px;
      opacity: 1;
    }
    50% {
      max-height: 1000px;
      opacity: 0;
    }
    100% {
      max-height: 0px;
    }
    to {
      max-height: 0px;
      opacity: 0;
    }
  }

  @keyframes growShowCard {
    from {
      max-height: 0px;
      opacity: 0;
    }
    0% {
      max-height: 0px;
      opacity: 0;
    }
    50% {
      max-height: 400px;
      opacity: 0;
    }
    75% {
      max-height: 1600px;
      opacity: 0.5;
    }
    100%{
      opacity: 1;
    }
    to {
      opacity: 1;
      max-height: 1600px;
    }
  }



  &.init-hidden{
    max-height: 0;
  }

  &.anim-show {
    max-height: 0;
    animation: growShowCard ease-in-out 2s 1500ms forwards;
  }

  &.anim-hide {
    max-height: 1600px;
    animation: shrinkHideCard ease-in-out 1s 0ms forwards;
  }

  p{

    strong{
      color: lighten($project-primary, 10%);
      font-size: 1.2rem;
    }

  }

  a.button {
    margin-top: 1em;
    margin-bottom: 1em;
    display: inline-block;
    color: $project-text-dark;

    @include outline-button($project-primary);

    &:hover {

    }
  }
}

svg{
  margin-top: 1em;
  margin-bottom: 0em;
  background: linear-gradient(to bottom, rgba($eclipse-map-gold, 0.3), rgba($eclipse-map-gold, 0));
  path{
    stroke: darken($project-text-dark, 20%);
    fill: none;
  }

  line{
    stroke: $project-text-dark;
  }

  text{
    fill: darken($project-text-dark, 30%);
  }
}

div#quadratic{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}